<div class="seller-details-container">
  <h2>Seller Details</h2>
  <div class="seller-info">
    <div class="info-item">
      <span class="label">Name:</span>
      <span class="value">Seller Name</span>
    </div>
    <div class="info-item">
      <span class="label">Email:</span>
      <span class="value">sellerexample.com</span>
    </div>
    <div class="info-item">
      <span class="label">Rating</span>
      <span class="value"> 2023</span>
    </div>
    <div class="info-item">
      <span class="label">Business Name</span>
      <span class="value">sdfgh</span>
  </div>
    <div class="info-item">
      <span class="label">Image</span>
      <span class="value">0123456789</span>
    </div>
</div>
